env/

analysis/__pycache__/
processing/__pycache__/
reports/__pycache__/
scraping/__pycache__/
visualization/__pycache__/
warningsys/__pycache__/
config/__pycache__/

data/

chromedriver.exe
chromedriver

settings.ini
settings.yaml

out.pdf