env/

analysis/__pycache__/
processing/__pycache__/
reports/__pycache__/
scraping/__pycache__/
visualization/__pycache__/

data/profiles.json
data/archived_profiles.json
data/analyzed_profiles.json

chromedriver

settings.ini
settings.yaml
